<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" media="screen" href="@{'/public/css/reset.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/style.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/messages.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/forms.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/tables.css'}" />

<script src="@{'/public/js/html5.js'}"></script>
<script src="@{'/public/js/jquery.tools.min.js'}"></script>

<!--[if lte IE 9]>
<link rel="stylesheet" media="screen" href="@{'/public/css/ie.css'}" />
<script src="@{'/public/js/ie.js'}"></script>
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" media="screen" href="@{'/public/css/ie8.css'}" />
<![endif]-->

<script src="@{'/public/js/global.js'}"></script>

<title>PoupaNiquel Login</title>
</head>

<body>
   #{doLayout/}
</body>
</html>