#{extends 'Secure/layout.html' /}
<div style="background-color: #EEF;">
    <div class="login-box">
      <div class="login-hd">Poupaniquel Login</div>
        <div class="login-box-top">
            #{form @authenticate()}
            
                #{if flash.error}
                    <div class="message error">&{flash.error}</div>
                #{/if}
                #{if flash.success}
                    <div class="message success">&{flash.success}</div>
                #{/if}
                
                <p id="username-field">
                    <input type="text" id="username" class="full" value="${flash.username}" name="username" required="required" placeholder="&{'secure.username'}" />
                </p>
                <p id="password-field">
                    <input type="password" id="password" class="full" value="" name="password" required="required" placeholder="&{'secure.password'}" />
                </p>
                
                <p class="clearfix">
                    <span class="fl">
                        <input type="checkbox" name="remember" id="remember" class="" value="true" ${flash.remember ? 'checked="true"' : ''}>
                        <label class="choice" for="remember">&{'secure.remember'}</label>
                    </span>
                    <button class="button button-gray fr" id="signin" type="submit">&{'secure.signin'}</button>
                </p>
                
            #{/form}
        
        <ul><li><strong>HELP:</strong>&nbsp;<a href="#">I forgot my password.</a></li></ul>
        </div>
    </div>
</div>

