.transactions-icon { background:url(icons/transactions-large.png) no-repeat; }
.accounts-icon { background:url(icons/accounts-large.png) no-repeat; }
.categories-icon { background:url(icons/categories-large.png) no-repeat; }
.payees-icon { background:url(icons/payees-large.png) no-repeat; }