#{extends 'main.html'/}

#{set title:'Importers'/}

<section class="grid_6 first">

    <div class="columns leading">
        <div class="grid_6 first">
            <h3>Import from</h3>
            <hr />
            
            #{ifErrors}
                <div class="message error">
                    <h3>Error</h3>
                    #{errors}
				        <li>${error}</li>
				    #{/errors}
                </div>
            #{/ifErrors}
            
            <div class="widget">
                <header><h2>.xhb HomeBank file</h2></header>
                <section>
                    <p>
                        #{form @upload(), id:'uploadForm', enctype:'multipart/form-data'}
                            <label>File:</label>
					        <input type="file" id="file" name="file" />
					        <button class="button button-green" type="submit">Import</button>
                        #{/form}
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</section>
