#{extends 'main.html'/}

<section class="grid_6 first">

    <div class="columns leading">
        <div class="grid_6 first">
            <h3>Import Result</h3>
            <hr />
            
            <div class="panel">
                <header><h2>HomeBank version ${homeBank?.version}</h2></header>
                <section>
                    <p>
                        Payees: ${homeBank?.payees?.size}<br />
                        Categories: ${homeBank?.categories?.size}<br />
                        Accounts: ${homeBank?.accounts?.size}<br />
                        Transactions: ${homeBank?.transactions?.size}<br />
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</section>
