#{extends 'main.html'/}

#{set 'customScript' }
<script src="@{'/public/js/jquery.tables.js'}"></script>
<script>
$(document).ready(function(){
    $("table.transactions").paginate({rows: 30, buttonClass: 'button-blue'});
});
</script>
#{/}

#{set title:'Transactions'/}

<!-- Main Section -->
<section class="grid_6 first">

	<div class="columns leading">
	    <div class="grid_6 first">
	        <h3>Show transactions from</h3>
	        <hr />
	        <table class="sortable full transactions">
	            <thead>
	                <tr>
	                    <th>Date</th>
	                    <th>Payee</th>
	                    <th>Description</th>
	                    <th>Amount</th>
	                    <th>Category</th>
	                </tr>
	            </thead>
	            <tbody>
	                #{list items:transactions, as:'transaction'}
	                <tr>
	                    <td>${transaction?.date?.time.format('dd/MM/yyyy')}</td>
	                    <td>${transaction?.payee?.name}</td>
	                    <td>${transaction?.description}</td>
	                    <td>${transaction?.amount}</td>
	                    <td>${transaction?.category?.name}</td>
	                </tr>
				    #{/}
	            </tbody>
	        </table>
	    </div>
	</div>
	<div class="clear">&nbsp;</div>
</section>
<!-- End of Left column/section -->

<!-- Right column/section -->
<aside class="grid_2">

    <div class="accordion top">

        <h2 class="current">First pane</h2>
        <div class="pane" style="display:block">... pane content ...</div>

        <h2>Second pane</h2>
        <div class="pane">... pane content ...</div>

        <h2>Third pane</h2>
        <div class="pane">... pane content ...</div>

    </div>

</aside>

<!-- End of Right column/section -->
<div class="clear"></div>