#{extends 'main.html' /}

#{set title: 'Transactions' /}

#{set 'menu'}
 <div id="page-subheader">
    <div class="wrapper">
        <h2>Transactions</h2>
        <input type="text" value="" name="q" placeholder="Search in #{get 'title' /}...">
    </div>
</div>
#{/}

<section id="content">
    <div class="wrapper">
        <!-- Left column/section -->
    
        <section class="grid_8 first">
        
            <div class="accordion top" style="width:990px">
                <h2 class="current">Filter</h2>
                <div class="pane" style="display: block;">
                
                    <form action="/transactions/list" id="filterForm" name="filterForm" method="POST"> 
                        <input type="date" style="width:90px" id="startDate" value="${flash.startDate}" name="startDate" placeholder="Start date" />
                        <input type="date" style="width:90px" id="endDate" value="${flash.endDate}" name="endDate" placeholder="End date" />
                        <select id="account" name="account">
                            <option value="0">Accounts</option>
                            #{list items:accounts, as:'model'}
                                <option value="${model.id}" #{if model.id.toString() == flash.account}selected="true"#{/}>
                                    ${model.name}
                                </option>
                            #{/list}
                        </select>
                    
                        <select id="category" name="category">
                            <option value="0">Categories</option>
                            #{list items:categories, as:'model'}
                                <option value="${model.id}" #{if model?.id.toString() == flash.category}selected="true"#{/}>
                                    ${model.name}
                                </option>
                            #{/list}
                        </select>
                    
                        <select id="payee" name="payee">
                            <option value="0">Payees</option>
                            #{list items:payees, as:'model'}
                                <option value="${model.id}" #{if model?.id.toString() == flash.payee}selected="true"#{/}>
                                    ${model.name}
                                </option>
                            #{/list}
                        </select>
                        <button class="button button-blue" type="submit">Filter</button>
                        <button class="button button-gray" type="reset" onclick="window.location.href='@{transactions.list()}'">Clear</button>
                    </form>
                </div>
            </div>

            <div class="columns leading">
                <div class="grid_8 first">
                    <h3>#{paginate.summary items:entities /}</h3>
                    <hr>
                    
                    #{ifnot entities}
                        <div class="message warning">
                            <h3>No data found.</h3>
                        </div>
                    #{/ifnot}
                    #{else}
                    
                        #{paginate.controls items:entities /}
                        
                        <table class="paginate sortable full">
                            <thead>
                                <tr>
                                    <th width="80">&{'date'}</th>
                                    <th>Description</th>
                                    <th>Account</th>
                                    <th>Category</th>
                                    <th>Payee</th>
                                    <th width="100">Amount</th>
                                    <th width="100">Balance</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            
                            <tbody style="display: table-row-group;">
                            
                                %{ BigDecimal balance = 0 %}
                                
                                #{paginate.list items:entities, as:'entity'} 
                                <tr>
                                    <td style="vertical-align:middle;">${entity.transactionDate.format()}</td>
                                    <td width="300">
                                        ${entity.description}<br/>
                                        <!-- [${entity.account}] [${entity.category}] [${entity.payee}]  -->  
                                    </td>
                                    
                                    <td>${entity.account}</td>
                                    <td>${entity.category}</td>
                                    <td>${entity.payee}</td>
                                    
                                    <td style="vertical-align:middle;" align="right"><span style="color:#{if entity.amount > 0}green#{/}#{else}red#{/}">${entity.amount}</span></td>
                                    
                                    %{ balance = balance + entity.amount %}
                                    <td style="vertical-align:middle;" align="right"><span style="color:#{if balance > 0}green#{/}#{else}red#{/}">${balance}</span></td>
                                    
                                    <td width="40" align="right">
                                        <img src="@{'/public/images/icons/application_edit.png'}"/>
                                        <img src="@{'/public/images/icons/application_delete.png'}"/>
                                    </td>
                                </tr>
                                #{/paginate.list}
                            </tbody>
                            <tfoot>
                                
                                <tr class="subtotal">
                                    <td colspan="6">Subtotal</td>
                                    <td align="right"><span style="color:#{if subtotal > 0}green#{/}#{else}red#{/}">${subtotal}</span></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="total">
                                    <td colspan="6" style="border-bottom-left-radius: 5px;">Total</td>
                                    <td align="right" style="border-bottom-right-radius: 5px;"><span style="color:#{if totalAmount > 0}green#{/}#{else}red#{/}">${totalAmount}</span></td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfoot>
                        </table>
                        
                        #{paginate.controls items:entities /}
                    
                    #{/else}
               </div>
               <div class="clear">&nbsp;</div>
           </div>
        </section>

        <!-- End of Right column/section -->
        <div class="clear"></div>
        <div id="push"></div>
 
    </div>
</section>

<script type="text/javascript">
$(":date").dateinput({
    format: "&{'js.date.format'}",
    selectors: true,                // whether month/year dropdowns are shown
    speed: 'fast',                  // calendar reveal speed
    firstDay: 1,
    yearRange: [-10, 5]
}); 
</script>