#{extends 'main.html'/}

#{set title:'Transactions'/}

#{set 'script'}
<script type="text/javascript">
Ext.Loader.setConfig({enabled:true});

Ext.application({
    name              : 'PoupaNiquel',
    appFolder         : '/public/js/app',
    autoCreateViewport: false,

    controllers       : ['Main', 'Transactions', 'Accounts', 'Categories', 'Payees'],
    
    launch: function() {
        viewport = Ext.create('Ext.container.Viewport', {
            id    : 'viewport',
            layout: 'border',
            
            items: [{
                xtype     : 'mainToolbar',
                region    : 'north',
                height    : 45,
                border    : true,
            }, {
                id        : 'viewportCenter',
                region    : 'center',
                border    : false,
                autoScroll: true,

            }]
        });
    }
});
</script>
#{/}