<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" media="screen" href="@{'/public/css/reset.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/style.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/messages.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/forms.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/tables.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/css/action-buttons.css'}" />

<script src="@{'/public/js/html5.js'}"></script>
<script src="@{'/public/js/jquery.tools.min.js'}"></script>

<!--[if lte IE 9]>
<link rel="stylesheet" media="screen" href="@{'/public/css/ie.css'}" />
<script src="@{'/public/js/ie.js'}"></script>
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" media="screen" href="@{'/public/css/ie8.css'}" />
<![endif]-->

<script src="@{'/public/js/global.js'}"></script>

#{get 'moreScripts' /}

<title>PoupaNiquel #{get 'title' /}</title>

</head>

#{if session.username}
<header id="page-header">
    <div class="wrapper">
        <div id="util-nav">
            <ul>
                <li>Logged in as ${session.username}:</li>
                <li><a href="#">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <h1>Poupaniquel</h1>
        <div id="main-nav">
            <ul class="clearfix">
                <li #{if title == 'Dashboard'}class="active"#{/}><a href="dashboard.html">Dashboard</a></li>
                <li #{if title == 'Accounts'}class="active"#{/}>#{a @Accounts.list() }Accounts#{/a}</a></li>
                <li #{if title == 'Categories'}class="active"#{/}><a href="forms.html">Categories</a></li>
                <li #{if title == 'Payees'}class="active"#{/}><a href="tables.html">Payees</a></li>
                <li #{if title == 'Payments'}class="active"#{/}><a href="grids.html">Payment Types</a></li>
                <li #{if title == 'Transactions'}class="active"#{/}>#{a @Transactions.list() }Transactions#{/a}</a></li>
                <li #{if title == 'Imports'}class="active"#{/}>#{a @Importers.index() }Imports#{/a}</a></li>
                <li id="quick-links">
                    <a href="#">Quick Links<span>↓</span></a>
                    <ul>
                        <li><a href="#">New Transaction</a></li>
                        <li><a href="#">Drafts</a></li>
                        <li><a href="#">Upload</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    #{get 'menu' /}
   
</header>
#{/}

<body>
    #{doLayout/}
</body>

</html>
